GOOGLE_CLIENT_ID=<obtained from google console>
GOOGLE_SECRET=<obtained from google console>
JWT_SECRET=<any random and secure string>
DATABASE_URL=mysql://root:retro@localhost:3306/retro
CALLBACK_URL=http://localhost:8080/loading